.animation-deleted {
  animation-name: deleted;
  animation-duration: 2000ms;
  animation-timing-function: linear;
}

@keyframes deleted {
  0% {
      transform: translateX(0px);
      background-color: transparent;
    }

  50% {
      transform: translateX(-50vw);
      background-color: $bg-main-2;
    }

  100% {
      transform: translateX(-100vw);
    }

}


.animation-add {
  animation-name: add;
  animation-duration: 1000ms;
  animation-timing-function: linear;
}

@keyframes add {
  0% {
      transform: scale(0);
      background-color: transparent;
      border-color: #50C878;
    }

  50% {
      transform: scale(0.5);
      background-color: #50C878;
      border-color: #50C878;
    }

  100% {
      transform: scale(1);
      background-color: transparent;
      border-color: $bg-main-2;
    }

}


