.page-footer {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  top: 90px;
  left: 0vh;
  width: 100vw;
  height: 60px;
  background-color: $bg-main-2;
}

.page-footer--close {
  display: none;
}

.page-footer__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 6%;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  color: $text-main;
  font-size: 22px;
  outline: none;
  cursor: pointer;
}

.page-footer__button:hover{
  color: $text-main;
  text-shadow: 0px 0px 2px;
}
.page-footer__button:active {
  color: $text-second;
}

@media (min-width: $tablet) {

  .page-footer {
    padding-bottom: 10px;
    top: 118px;
    left: 0vh;
    width: 100vw;
    height: 60px;
  }

}

@media (min-width: $pc) {
 .page-footer {
    padding-bottom: 10px;
    padding-top: 10px;
    top: auto;
    bottom: 0vh;
    left: 0vh;
    width: 100vw;
    height: 60px;
  }

  .page-footer__button {
    display: none;
  }

  .page-footer--close {
    display: flex;
  }

}
